<div class="cover">
  <%= image_tag @card_tpl.cover.url %>
</div>   
<div class="hd">
  <p class="page_desc">
    
  </p>
</div>
<div class="cover_photo">

</div>
  <div class="weui_panel">
  <% if @can_acquire === true %>
      <a href="javascript:;" class="weui_btn weui_btn_primary">按钮</a>
    <% else %>
      <a href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_primary"><%=@can_acquire%></a>
    <% end %>
    
    <div class="weui_panel_hd"><b>优惠说明</b></div>
    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">                
        <p class="weui_media_desc hk_desc"><%=@card_tpl.desc%></p>
      </div>
    </div>
      
    <div class="weui_panel_hd">使用须知</div>
    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">                
        <p class="weui_media_desc hk_desc"><%=@card_tpl.intro%></p>
      </div>
    </div>
      
    <div class="weui_panel_hd">活动奖品</div>
    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">                
        <p class="weui_media_desc hk_desc"></p>
      </div>
    </div>    
  </div>
  <div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="javascript:;">
      <div class="weui_cell_bd weui_cell_primary">
          <p>图片展示</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell" href="javascript:;">
      <div class="weui_cell_bd weui_cell_primary">
          <p>商户详情</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell" href="javascript:;">
      <div class="weui_cell_bd weui_cell_primary">
          <p>公众号</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>
  </div>