<div class="cover">
  <img src="http://zhongqu360.oss-cn-beijing.aliyuncs.com/uploadfile/banner/banner01.jpg" />
</div>   
<div class="hd">
  <h1 class="page_photo_"><img src="http://zhongqu360.oss-cn-beijing.aliyuncs.com/uploadfile/banner/banner01.jpg" /></h1>
  <p class="page_desc">18640862977</p>
</div>
<div class="cover_photo"></div>  
  <div class="weui_panel">
    <div class="weui_panel_hd"><b>优惠说明</b></div>
    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">                
        <p class="weui_media_desc hk_desc"><%=@card_tpl.desc%></p>
      </div>
    </div>
      
    <div class="weui_panel_hd">使用须知</div>
    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">                
        <p class="weui_media_desc hk_desc"><%=@card_tpl.intro%></p>
      </div>
    </div>
      
    <div class="weui_panel_hd">活动奖品</div>
    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">                
        <p class="weui_media_desc hk_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。由各种物质组成的巨型球状天体，叫做星球。</p>                
      </div>
    </div>    
  </div>
  <div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="javascript:;">
      <div class="weui_cell_bd weui_cell_primary">
          <p>图片展示</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell" href="javascript:;">
      <div class="weui_cell_bd weui_cell_primary">
          <p>商户详情</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell" href="javascript:;">
      <div class="weui_cell_bd weui_cell_primary">
          <p>公众号</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>
  </div>
</div>