<div class="hd">
    <h1 class="page_title">恭喜您绑定手机号: <%=@wechat_user.phone%></h1>
    <h1 class="page_title">成为红券用户!</h1>
</div> 
<div class="weui_cells weui_cells_form">
</div>
<div class="bd">
  <div class="weui_btn_area">
    <a class="weui_btn weui_btn_primary" href="<%=bind_members_path%>">更换手机号</a>
    <a class="weui_btn weui_btn_primary" href="<%=recover_password_members_path%>">修改密码</a>
  </div>   	
</div>