<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>HONGCARD</title>
    <link rel="stylesheet" href="css/weui.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
</head>
<body ontouchstart>
	<div class="hd">
	    <h1 class="page_title">会员权限</h1>
	    <p class="page_desc">会员:18841188115</p>
	    
	</div>
   <div class="bd">
   	  <div class="weui_opr_area">
	        <p class="weui_btn_area">	            
	            <a href="javascript:;" class="weui_btn weui_btn_default">返回我的会员中心</a>
	        </p>
	    </div>
    <div class="weui_panel weui_panel_access">        
        <div class="weui_panel_hd">会员组</div>
        <div class="weui_panel_bd">            
	        <div class="weui_cell">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>管理员</p>
	            </div>
	            
	        </div>	        
	    </div>	    
    </div>
    
    <div class="weui_panel weui_panel_access">        
        <div class="weui_panel_hd">享有权限</div>
        <div class="weui_panel_bd">            
	        <div class="weui_cell">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>管理员</p>
	            </div>	            
	        </div>	        
	    </div>	    
    </div>
    
    
    </div>
    
      	
   </div>
   <div class="footer">
        <a href="">服务商:麦咖啡</a> | <a href="">POWERD BY 红券</a>        
    </div>
</body>
</html>
