<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>HONGCARD</title>
    <link rel="stylesheet" href="css/weui.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
</head>
<body ontouchstart>
	<div class="hd">
	    <h1 class="page_title">红券使用记录</h1>
	    <p class="page_desc">会员:18841188115</p>	    
	</div>
   
   	  <div class="weui_opr_area">
	        <p class="weui_btn_area">	            
	            <a href="javascript:;" class="weui_btn weui_btn_default">返回我的会员中心</a>
	        </p>
	    </div>
	    
	            
	   <div class="weui_panel">
        <div class="weui_panel_hd r_myhqlist_title">5元代金券</div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <a class="weui_cell r_myhqlist_qh" href="javascript:;">
                        <div class="weui_cell_hd r_myhqlist_qh_l ">券号</div>
                        <div class="weui_cell_bd weui_cell_primary r_myhqlist_qh_m line-through">
                            <p>1234 5678 999</p>
                        </div>
                        <span class="weui_cell_ft r_myhqlist_qh_r">已使用</span>
                    </a>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">订单编号：2016050212</li>
                    <li class="weui_media_info_meta">使用时间：2016-05-22</li>                    
                </ul>
            </div>
        </div>
    </div>
    
    <div class="weui_panel">
        <div class="weui_panel_hd r_myhqlist_title">摇一摇红包</div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <a class="weui_cell r_myhqlist_qh" href="javascript:;">
                        <div class="weui_cell_hd r_myhqlist_qh_l ">券号</div>
                        <div class="weui_cell_bd weui_cell_primary r_myhqlist_qh_m">
                            <p>1234 5678 999</p>
                        </div>
                        <span class="weui_cell_ft r_myhqlist_qh_r">未使用</span>
                    </a>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">订单编号：2016050212</li>
                    <li class="weui_media_info_meta">使用时间：2016-05-22</li>                    
                </ul>
            </div>
        </div>
    </div>
	            
    
    
      	
   </div>
   <div class="footer">
        <a href="">服务商:麦咖啡</a> | <a href="">POWERD BY 红券</a>        
    </div>
</body>
</html>
