<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>HONGCARD</title>
    <link rel="stylesheet" href="css/weui.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
</head>
<body ontouchstart>
	<div class="hd">
	    <h1 class="page_title">个人信息</h1>
	    <p class="page_desc">会员:18841188115</p>
	    
	</div>
   <div class="bd">
   	  <div class="weui_opr_area">
	        <p class="weui_btn_area">	            
	            <a href="javascript:;" class="weui_btn weui_btn_default">返回我的会员中心</a>
	        </p>
	    </div>
    
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>手机号：188411188111</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>修改密码</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>        
    </div>
    
    <div class="weui_panel weui_panel_access">            	
        <div class="weui_panel_bd">            
	        <div class="weui_cell">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>姓名：商亮</p>
	            </div>	            
	        </div>	  	        
	        <div class="weui_cell">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>性别：男</p>
	            </div>	            
	        </div>	 	        
	        <div class="weui_cell">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>生日：1988-03-89</p>
	            </div>	            
	        </div>	 	        
	    </div>	    	    
    </div>
    
    <div class="weui_panel weui_panel_access">            	
        <div class="weui_panel_bd">            
	        <div class="weui_cell">
	            <div class="weui_cell_bd weui_cell_primary">
	                <div class="weui_uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)"></div>
	            </div>	            
	        </div>	  	        
	        	        
	    </div>	    	    
    </div>
    
    
    </div>
    
      	
   </div>
   <div class="footer">
        <a href="">服务商:麦咖啡</a> | <a href="">POWERD BY 红券</a>        
    </div>
</body>
</html>
