<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>HONGCARD</title>
    <link href="//cdn.bootcss.com/weui/0.4.0/style/weui.min.css" rel="stylesheet">
    <script type="text/javascript" src='http://res.wx.qq.com/open/js/jweixin-1.1.0.js'></script>
    <script src="//cdn.bootcss.com/zepto/1.1.6/zepto.min.js"></script>
		<%= stylesheet_link_tag    'layout', media: 'all', 'data-turbolinks-track' => true %>
		<%= Gon::Base.render_data %>
</head>
<body ontouchstart>
	<%= wechat_config_js debug: false, api: %w(hideMenuItems closeWindow) -%>
	<script type="application/javascript">
	  wx.ready(function() {
      console.log('ready')
	  });
	  wx.error(function() {
	  	console.log('error')
      // wx.hideOptionMenu();
	  });

	  function validate_phone(phone)
		{
			return phone.match(/^(13|15|17|18)[0-9]\d{8}$/) != null
		}

		function validate_capcha(capcha)
		{
			return capcha.match(/^\d{6}$/) != null
		}
	</script>
	<%= yield %>
	<div class="footer">
		<a href="">服务商:麦咖啡</a> | <a href="">POWERD BY 红券</a>        
	</div>
</body>
</html>
