<div class="hd">
  <h1 class="page_title">会员权限</h1>
  <p class="page_desc">会员:<%=@member.phone%></p>  
</div>
<div class="bd">
	<div class="weui_opr_area">
	  <p class="weui_btn_area">	            
      <a href="<%= info_members_path %>" class="weui_btn weui_btn_default">返回我的会员中心</a>
	  </p>
	</div>
</div>
<div class="weui_panel weui_panel_access">
  	<% @member.groups.each do |group|%>
    <div class="weui_panel_bd">  
      <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
              <p><%=group.title%></p>
          </div>
      </div>
  	</div>  
  	<% end %>
	</div>
</div>
